@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>test One more One m ore test</p>
    <p>a New line is added</p>
    <p>Test Branch</p>
</div>
